.logo-foot-blue {
    display: inline-block;
    font-family: $logo;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    /* identical to box height */
    letter-spacing: 0.03em;
    color: $blue;
}



.logo-foot-white {
    display: inline-block;
    font-family: $logo;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    /* identical to box height */
    letter-spacing: 0.03em;
    color: $white;
}

footer {
    width: 100%;
    background: #2f303a;
}

.logo-footer {
    padding-top: 60px;
    display: flex;
    flex-direction: column;
}

.flex-logo {
    text-align: center;
    padding-bottom: 20px;
}


.address-footer {

    text-align: center;
    padding-bottom: 60px;
}

.add-link-foot {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

.add-link-foot:hover {
    color: #ffffff;
}


.join,
.joing {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;


    color: #FFFFFF;
}

.instagram {

    display: inline-block;
    width: 44px;
    height: 44px;
    margin: 10px;
}

.twitter {
    display: inline-block;
    width: 44px;
    height: 44px;
    margin: 10px;
}

.facebook {
    display: inline-block;
    margin: 10px;

}

.linkedin {
    display: inline-block;
    margin: 10px;
}

.instagram::after {
    display: inline-block;
    content: "";
    background: rgba(255, 255, 255, 0.1);
    width: 44px;
    height: 44px;
    border-radius: 50px;
    background-image: url(./svg/instagram\ 2.png);
    background-position: center;
    background-repeat: no-repeat;
    /* background-size: contain; */
    text-align: center;
    cursor: pointer;

}

.twitter::after {
    display: inline-block;
    content: "";
    background: rgba(255, 255, 255, 0.1);
    width: 44px;
    height: 44px;
    border-radius: 50px;
    background-image: url(./svg/Vector0\ \(1\).png);
    background-position: center;
    background-repeat: no-repeat;
    /* background-size: contain; */
    text-align: center;
    cursor: pointer;
}

.facebook::after {
    display: inline-block;
    content: "";
    background: rgba(255, 255, 255, 0.1);
    width: 44px;
    height: 44px;
    border-radius: 50px;
    background-image: url(./svg/Vector02.png);
    background-position: center;
    background-repeat: no-repeat;
    /* background-size: contain; */
    text-align: center;
    cursor: pointer;
}

.linkedin::after {
    display: inline-block;
    content: "";
    background: rgba(255, 255, 255, 0.1);
    width: 44px;
    height: 44px;
    border-radius: 50px;
    background-image: url(./svg/linkedin\ 103.png);
    background-position: center;
    background-repeat: no-repeat;
    /* background-size: contain; */
    text-align: center;
    cursor: pointer;
}

.join-social {
    text-align: center;
    display: flex;
    flex-direction: column;
    /* margin-bottom: 75px; */

}

.instagram:hover {
    background: #2196f3;
    border-radius: 50px;
}

.twitter:hover {
    background: #2196f3;
    border-radius: 50px;
}

.facebook:hover {
    background: #2196f3;
    border-radius: 50px;
}

.linkedin:hover {
    background: #2196f3;
    border-radius: 50px;
}